@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 15% 5%;
  --foreground: 0 0% 100%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-white/10;
  }
}
